@charset "utf-8";
/* CSS Document */


BODY {

	scrollbar-face-color:#80a537;

	scrollbar-highlight-color:#EDF4DD;

	scrollbar-3dlight-color:#D8E7B6;

	scrollbar-darkshadow-color:#D8E7B6;

	scrollbar-shadow-color:#EDF4DD;

	scrollbar-arrow-color:#FFFFFF;

	scrollbar-track-color:#D8E7B6;

	margin: 0;

	background: #FFFFFF;

}

A:link {

	font-size:11px;

	FONT-WEIGHT: bold;

	COLOR: #FFFFFF;

	TEXT-DECORATION: none;

}

A:visited {

    font-size:11px;

	FONT-WEIGHT: bold;

	COLOR: #FFFFFF;

	TEXT-DECORATION: none;

}

A:hover {

    font-size:11px;

	FONT-WEIGHT: bold;

	COLOR: #CC6600;

	TEXT-DECORATION: underline;

}

A:active {

    font-size:9px;

	FONT-WEIGHT: bold;

	COLOR: #876458;

	TEXT-DECORATION: underline;

}

A.leftlink:link {

	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

A.leftlink:visited {

	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

A.leftlink:hover {

	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #CC6600; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline

}

A.ll:link {

	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #0A246A; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

A.ll:visited {

	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #0A246A; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;

}

A.ll:hover {

	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #C6D7EF; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;

}

A.l2:link {

	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: /*#6A9B07*/#A92A61; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none

}

A.l2:visited {

	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: /*#6A9B07*/#A92A61; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;

}

A.l2:hover {

	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0A246A; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline;

}

.INPUT {

	BORDER: #496c05 1px solid;

	COLOR: #000000;

	FONT-SIZE: 11px;

	FONT-FAMILY: Verdana;

	HEIGHT: 18px;

	background: #e9ebe5;

}

SELECT {

	BORDER: #496c05 1px solid;

	FONT-SIZE: 11px;

	COLOR: #000000;

	FONT-FAMILY: Verdana;

}

TEXTAREA {

	BORDER: #496c05 1px solid;

	FONT-SIZE: 11px;

	COLOR: #000000;

	FONT-FAMILY: Verdana;

}

TD{

	FONT-FAMILY: Verdana;

	FONT-SIZE : 11px;

}

.TDHEAD{

	FONT-FAMILY: Verdana;

	FONT-SIZE : 11px;

	FONT-WEIGHT: bold;

	COLOR: #FFFFFF;

	BACKGROUND-COLOR: #A92A61;/*#92C006;*/

}

.TDHEAD_SUB{

	FONT-FAMILY: Verdana;

	FONT-SIZE : 11px;

	FONT-WEIGHT: bold;

	BACKGROUND-COLOR:#c0c8b0;

}

.border{

	BORDER: #A92A61/*#80A537*/ 1px solid;

}

.ERR{

	FONT-FAMILY: Verdana;

	FONT-SIZE : 11px;

	COLOR: #8D4143;

	FONT-WEIGHT: bold;

}

.inplogin {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 11px;

	color: #000000; /*233B68*/

	border: 1px solid #A92A61/*#80a537*/;

}

.tbllogin {

	font-size: 11px;

	color: #000000; /*336699*/

	font-weight: bold;

	font-family: Verdana, Arial, Helvetica, sans-serif;

}



.bodyP{

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 9px;

}

.dtree {

	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

	font-size: 10px;

	color: #000000;

	white-space: nowrap;

}

.dtree img {

	border: 0px;

	vertical-align: middle;

}

.dtree a {

	color: #02233D;

	text-decoration: none;

}

.dtree a.node, .dtree a.nodeSel {

	white-space: nowrap;

	padding: 1px 2px 1px 2px;

}

.dtree a.node:hover, .dtree a.nodeSel:hover {

	color: #939495;

	text-decoration: none;

}

.dtree a.nodeSel {

	background-color: #DFDCD8;

}

.dtree .clip {

	overflow: hidden;

}

.footer{

	font-family: Arial;

	font-size: 11px;

	color: #000000;

}

.footer a{

	font-family: Arial;

	font-size: 11px;

	color: #000000;

	text-decoration: none;

}

.footer a:hover{

	font-family: Arial;

	font-size: 11px;

	color: #000000;

	text-decoration: underline;

}

.mainhead{

	font-family: Arial;

	font-size: 14px;

	line-height: 20px;

	color: #00398F;

}

.subcontent{

	font-family: Arial;

	font-size: 12px;

	line-height: 16px;

	color: #000000;

}

.subcontent a{

	font-family: Arial;

	font-size: 12px;

	line-height: 16px;

	color: #000000;

	text-decoration: none;

	padding-left: 16px;

}

.subcontent a:hover{

	font-family: Arial;

	font-size: 12px;

	line-height: 16px;

	color: #00398F;

	text-decoration: underline;

}

.topbar {

	font-family: Arial;

	font-size: 11px;

	line-height: 16px;

	color: #000000;

}

.frmfld{

	font-family: Arial;

	font-size: 11px;

	color: #000000;

	padding-left:2px;

	width: 180px;

	height:18px;

	border: 1px solid #80a537;

}







/* Code Added on 16th July 2008 by DJ */



table.maintable{

	width: 100%;

	height: auto;



}



.header{

	background: url(../images/logo.JPG) 2% 50% no-repeat #FFFFFF;

	height: 80px;

	text-align: right;

	padding: 0px 10px;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 18px;

	line-height: 25px;

	color: #000000;

}



.menubar{

	background: #A92A61;/*#92C006;/*#80a537;*/

	height: 25px;

	vertical-align: middle;

	border-bottom: 2px solid #485d1f;

}

.menubar table{

	width: auto;

	height: auto;

	float: none;	

	clear: both;

	margin: auto;

}

.menubar a{

	display: block;

	padding: 0px 15px;

	font-size: 115%;

	line-height: 25px;

	color: #FFFFFF;

	text-decoration: none;

	border-right: 1px solid #33401a;

	border-left: 1px solid #FFFFFF;

}

.menubar a:hover{

	color: #0774c7;

	text-decoration: none;

	background: #A92A61/*#b2e723*/;

}

/* End */

